extends ../layout

block content

  h1(class="page-header") Fabric inventory

  table(class="table")
    thead
      th Name
      th Content
      th Width (inches)
      th Yardage available
      th Domestic?
    tbody
      tr
        td
        td
        td
        td
        td
